/* reset and common*/
* {
    margin: 0;
    padding: 0;
}

.container{
    width: 60%;
    margin: 0 auto;
}

/* utilities */

.debug-box {
    background-color: #e579e6;
    /* border: 1px solid black; */
    height: 50px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-top: 30px;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

/* header
/* header {
        /* height: 100px; */
        /* background-color: #e579e6;
} */

/* main */

.content-high .debug-box {
    background-color: #e1d67a;
}

.container-2 {
    background-color: #0087fc;
}

.container-2 .debug-box {
    background-color: rgba(0, 0, 0, 0.5);
}