/* reset and common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* utilities */

.debug-box {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 50px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

/* header */
header {
    height: 100px;
    background-color: #e579e6;
}

/* main */
.container-2 {
    background-color: #0087fc;
}

.content-high {
    background-color: #e1d67a;
    height: 500px;
}


.high-section {
    background-color: #abcfe7;
    height: 100px;
}

.sidebar,
.middle-float {
    float: left;
}

.middle-float {
    width: 57%;
    background-color: #abcfe7;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 0px 18px;
    height: 500px;
}

.sidebar {
    width: 20%;
    background-color: #abcfe7;
    padding: 0px 15px;
    height: 500px;
}


/* footer */
footer {
    height: 60px;
    background-color: #8801fe;
    margin-top: 10px;
    margin-bottom: 30px;
}